body {
  background-color: #E5E5E5;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Высоту контейнера можно настроить */
}

.spinner {
  border: 5px solid rgba(255, 255, 255, 0.3); /* Светлая часть спиннера */
  border-top: 5px solid #0075bb; /* Темная часть спиннера */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.user-header {
  position: relative; /* Относительное позиционирование */
  /* другие стили */
}

.dropdown-menu {
  position: absolute; /* Абсолютное позиционирование для меню */
  top: 100%; /* Разместить ниже родителя */
  left: 0;
  z-index: 1000000000;
  width: max-content;
  background-color: #0075BB;
  color: white;
  padding: 10px 20px;  /* Стили для фона, границ и т.д. */
  display: none; /* Начальное состояние скрыто */
}
.dropdown-menu li {
  margin-top: 5px;
  border-bottom: 1px solid #0075BB;
  transition: border-bottom 0.5s;
}
.dropdown-menu li:hover {
  border-bottom: 1px solid white;
}

.user-header:hover .dropdown-menu {
  display: block; /* Отобразить при наведении */
}

.white-button {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  color: #0075BB;
  font-weight: 600;
  border: 2px solid #0075BB;
  transition: background-color 0.3s;
  transition: color 0.3s;
}

.white-button:hover {
  background-color: #0075BB;
  color: white
}

.delete-button {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  color: #C74545;
  font-weight: 600;
  border: 2px solid #C74545;
  transition: background-color 0.3s;
  transition: color 0.3s;
}

.delete-button:hover {
  background-color: #C74545;
  color: white
}

.green-button {
  background-color: #DCFFD0;
  padding: 10px;
  border-radius: 3px;
  color: #386F25;
  font-weight: 600;
  border: 1px solid white;
  transition: border 0.3s;
}

.green-button:hover {
  border: 1px solid #386F25;
}

.green-button.select{
  background-color: rgba(220, 255, 208, 0.25);
  padding: 10px;
  border-radius: 3px;
  color: #386F25;
  font-weight: 600;
  border: 1px solid #386F25;
  transition: background-color 0.3s;
}

.green-button.select:hover{
  background-color: #DCFFD0;
}

.red-button {
  background-color: #FBCACA;
  padding: 10px;
  border-radius: 3px;
  color: #C74545;
  font-weight: 600;
  border: 1px solid white;
  transition: border 0.3s;
}

.red-button:hover {
  border: 1px solid #C74545;
}

.red-button.select {
  background-color: rgba(251, 202, 202, 0.25);
  padding: 10px;
  border-radius: 3px;
  color: #C74545;
  font-weight: 600;
  border: 1px solid #C74545;
  transition: background-color 0.3s;
}

.red-button.select:hover {
  background-color: #FBCACA;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 2;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}

.modal__content {
  padding: 20px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
  max-height: 100vh;  /* Установите максимальную высоту модального окна */
  overflow-y: auto;
}

.modal__content.active {
  transform: scale(1);
}
.close-text {
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.login-box{
  height: max-content;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-box-table{
  height: max-content;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.table-res {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  display: block;
  overflow: auto;
  table-layout: fixed;
  
}


th {
  background-color: #E5E5E5;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 10px 60px;
}

tbody td {
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  text-align: center;
}

tbody tr {
  border-top: 2px solid rgba(0, 0, 0, 0.5);
}

.botoom-table {
  border-collapse: separate;
}

.botoom-table tr td {
  padding: 10px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-right: none;
}

.botoom-table tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 15px;
}

.botoom-table tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-right: 15px;
}

.table-th-left {
  border-top-left-radius: 10px;
  border-top: none;
  border-left: none;
  border-collapse: collapse;
}

.table-th-right {
  border-top-right-radius: 10px;
  border-top: none;
  border-right: none;
}

.select-row {
  background-color: rgba(0, 118, 187, 0.103);
  border-top: 2px solid rgb(0, 118, 187);
  border-bottom: 2px solid rgb(0, 118, 187);
  transition: background-color 0.5s;
}



.custom-dot-list-style .react-multi-carousel-dot button {
  border: 2px solid #0075bb; /* Цвет границы для невыбранных точек */
}

.custom-dot-list-style .react-multi-carousel-dot--active button {
  border: 2px solid #0075bb; /* Цвет границы для выбранной точки */
  background-color: #0075BB;
}


.img-logo {
  height: clamp(30px, 8vw, 50px);
}

.header-block {
  width: 65%;
  justify-content: space-between;
  
}
.club-text {
  -webkit-text-stroke: 3px #0075BB;
  font-size: clamp(25px, 11vw, 150px);
  letter-spacing: 80.00px;
}
@media screen and (max-width: 1200px) {
  .club-text {
    letter-spacing: 60.00px;
  }
  .header-block {
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  .club-text {
    -webkit-text-stroke: 2px #0075BB;
    letter-spacing: 20.00px;
  }
  .header-block {
    width: 100%;
  }
}

.instruction-block{
  grid-template-areas: 
    "block1 arrow1 block2 arrow2 block3"
    "none none none none arrow3" 
    "block6 arrow5 block5 arrow4 block4";
    
  align-items: center;
  justify-items: center;
  gap: 30px;
}


* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
}
.dhiwise-code,
.dhiwise-navigation {
  min-height: 100%;
}
.common-pointer {
  cursor: pointer;
}
.dhiwise-navigation {
  padding: 20px;
  background-color: #232323;
}
.dhiwise-navigation h1 {
  color: white;
}
.dhiwise-navigation .headline {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
}
.dhiwise-navigation ul {
  padding: 0;
}
.dhiwise-navigation ul li {
  list-style: none;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}
.dhiwise-navigation a {
  color: #132cdc;
}
table {
  border-spacing: 0;
  width: 100%;
}
.common-select {
  z-index: 10000;
}
.react-datepicker-popper {
  z-index: 100000 !important;
}
.drawable-icon{
  position: absolute;
  margin: auto;
  z-index: 1000;
}
.input-wrap{
  position: relative;
}
option{
  color: #000;
}
.table-wrap{
  overflow: auto;
}
input:focus{
  outline:none;
}
.ReactModal__Body--open{
  overflow: hidden;
}
  .slider-indicator:first-child {
    margin-left: 0;
}

.slider-indicator:last-child {
margin-right: 0;
}

.rc-drawer-content-wrapper{
  width: 100% !important;
}
.rc-drawer-right .rc-drawer-content-wrapper{
  display: flex;
  justify-content: flex-end;
}
.rc-drawer-left .rc-drawer-content-wrapper{
  display: flex;
  justify-content: flex-start;
}
.ReactModal__Overlay{
  z-index: 1051;
}

ul li a{
  display: block;
}

.mobile-menu div{
  height: 1.5px;
  width: 20px;
  background-color: #000;
  margin:4px 0;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.header-row{
  align-items:center;
  justify-content: space-between;
  display: flex;
}
@media only screen and (min-width: 200px) and (max-width: 550px)  {
  .mobile-menu {
    display: block;
  }
  .header-row{
    width: 100% !important;
  }
  .display-block{
    display: block;
  }
  .display-none{
    display: none;
  }
  .common-row-list > ul{
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
  }
}
.menu-close-icon {
  position: absolute;
  right: 16px;
  top: 16px;
}
.menu-overlay{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  left: 0px;
  top: 0px;
}
.close-line1{
  transform: translate(0, 6px) rotate(-45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.close-line2{
  transform: translate(0, 0) rotate(45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.common-row-list > ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-grow: 1;
}

.common-column-list > ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.common-column-list li{
  width: 100%;
}

/* scroll */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}